extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
            
              h1 ELEGANCE MEETS SOFTWARE
              |                 
              hr
              |                 
              p
                | Astral builds fast and elegant software that increases its clients profits, user engagement, and furthers innovation.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#contact') WORK WITH US!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading SOFTWARE INNOVATION HAPPENS HERE
                |                     
                hr.light
                |                     
                p.text-faded
                  | Astral is the leader in the technological revolution happening in Fresno, CA and around the world. Our expertise lies in the development of mobile 
                  | applications for iOS, Android, and Windows phone, as well as building applications for the Web. With over 50 years of experience amongst our 
                  | developers, you can be sure that what we deliver will surpass your expectations. 
                |                     
                a.btn.btn-default.btn-xl.page-scroll(href='#contact') Get Started!
        |     
        section#team
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading MEET THE TEAM
                |                     
                hr.light
                |                     
              .col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/david_jones.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-name
                        | David Jones
                      |                                 
                      .project-category.text-faded
                        | Chief Executive Officer
                      .project-category.text-faded
                        | Web Developer & Database Architect
              |                 
              .col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/connor_myers.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-name
                        | Connor Myers
                      |                                 
                      .project-category.text-faded
                        | Chief Technology Officer
                      .project-category.text-faded
                        | Mobile & Web Developer
              |                                     
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading TECHNOLOGICAL INNOVATION
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary
                  |                         
                  h3 Web Development
                  |                         
                  p.text-muted A web experience to engage users, get noticed, and grow profits.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Mobile Development
                  |                         
                  p.text-muted A mobile experience to extend usability and attract even more customers. 
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-area-chart.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Analytics
                  |                         
                  p.text-muted Advanced analytics to see who, when, and where people are using your softwware. 
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-lock.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Security
                  |                         
                  p.text-muted We protect your data with the utmost integrity.  Your privacy is our priority.
        |     
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Website
                      |                                 
                      .project-name
                        | The Crustacean Society
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Website
                      |                                 
                      .project-name
                        | FPD Chaplains
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Android Application
                      |                                 
                      .project-name
                        | TrackIT
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Web Application
                      |                                 
                      .project-name
                        | Fresno Unified School District
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Web Application
                      |                                 
                      .project-name
                        | Madera Unified School District
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | iOS Application
                      |                                 
                      .project-name
                        | Passenger (Coming Soon)
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading WORK WITH US
                |                     
                hr.primary
                |                     
                p
                  | Need a website or app built? Give us a call, or fill out our contact form below to get started on your projecet today. We would love to work with you!
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p.contact-info 559-940-9699
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p.contact-info
                  button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') GET IN TOUCH!
              .social-icons
                a(href='http://www.facebook.com').col-sm-4.social-icon.facebook
                  i.fa.fa-facebook 
                a(href='http://www.twitter.com').col-sm-4.social-icon.twitter
                  i.fa.fa-twitter
                a(href='http://www.instagram.com').col-sm-4.social-icon.instagram
                  i.fa.fa-instagram
          // Modal
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title WORK WITH US
                .modal-body
                  form.contact-form(action='/', method='post', novalidate='novalidate')
                    div(style='display: none;')
                      input(type='hidden', name='_wpcf7', value='482')
                      input(type='hidden', name='_wpcf7_version', value='4.3.1')
                      input(type='hidden', name='_wpcf7_locale', value='en_US')
                      input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f482-o1')
                      input(type='hidden', name='_wpnonce', value='23048474a7')
                    .row
                      div
                        .row
                          .col-md-6
                            span.wpcf7-form-control-wrap.FirstName
                              input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control.username-input(type='text', name='FirstName', size='40', aria-required='true', aria-invalid='false', placeholder='First', data-bind='textInput: userName, event: {keypress: enableDetails}')
                          .col-md-6
                            span.wpcf7-form-control-wrap.LastName
                              input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control(type='text', name='LastName', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Last')
                        .row
                          .col-md-12
                            span.wpcf7-form-control-wrap.companyname
                              input#footer-company-blue-background.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control(type='text', name='companyname', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Company Name')
                        .row
                          .col-md-12
                            span.wpcf7-form-control-wrap.email
                              input#footer-contact-email-blue-background.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form-control(type='email', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email')
                          .col-md-12
                            span
                              textarea(rows='4')(name='message', placeholder='Enter message here...')
                    p
                      input#footer-submit-blue-background.btn.btn-primary.wpcf7-form-control.wpcf7-submit(type='submit', value='SUBMIT')
                    .wpcf7-response-output.wpcf7-display-none


        section#footer
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading ASTRAL LLC.
                h2.section-heading 122 N. Helm Ave, Fresno, CA 93619
                h2.section-heading info@astralinnovation.com
                

        